.progess{
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
  position: relative;
  z-index: 0;

}

.progress-step{
  display: inline-block;
  font-size: $font-size-base;
  line-height: 1.5;
  padding: 5px 20px;
  text-align: center;
  position: relative;
  
  &:before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1px;
    background: gray("400");
    top: 22px;
    left : -50%;
  }

  &:first-child{
    &:before{
      display: none;
    }
  }

  &.is-active{
    &:before{
      background: theme-color("primary");
    }
  
    .progress-num{
      background: white;
    }
   
    .progress-num, .progress-label{
      border-color: theme-color("primary");
      color: theme-color("primary");
    }
  }
}

.progress-num{
  width: 36px;
  height: 36px;
  margin: 0 auto;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid gray("400");
  color: gray("400");
  background: #eee;
}

.progress-label{
  color: gray("400");
  margin-top: 18px;
}

.flybank-regis{
  max-width: 520px;
  margin: 0 auto 20px;;

}

.bootstrap-select .dropdown-toggle{
  height: 60px;
  line-height: 60px;

  padding: 0 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: white;
}

.card-choose{
  padding: 10px 0;
}

.card-choose-num{
  width: 60px;
}

.card-choose-val{
  width: 100px;
}