.module {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  max-width: 30%;
}

.font-second{
  font-family: Roboto, 'Noto Sans KR', sans-serif;
}

.font-small{
  font-size: 14px;
}

.text-gray{
  color: gray("500");
}

.text-lightgray{
  color: gray("300");
}


.bg-lightgray{
  background: #fafafa;
}

.flybank-navbar{
  background-color: color("yellow");
  .navbar{
    max-width: 1500px;
    margin: 0 auto;
  }

}

.dropdown-flag{

}

.dropdown-flag-icon{
  display: inline-block;
  vertical-align: -15%;
}

.hero-container{
  background-image: url("../images/hero-texture.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: color("yellow");
  padding-top: 50px;
}

.small-gutters{
    margin-right: -4px;
    margin-left: -4px;

    > .col,
    > [class*="col-"] {
      padding-right: 4px;
      padding-left: 4px;
    }
}

.flag-icon{
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

.flybank-input-container{
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding-right: 20px;
  .dropdown{
    //@include rfs(20);
    height: 100%;
    border-radius: $border-radius;

    .btn{
      font-size: 20px;
      padding: 10px 20px;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .dropdown-toggle{
      &:after{
        vertical-align: 0;
      }
    }

    &.show{
      background: gray("100");
    }
  }

  @include hover-focus-active(){
    border-color: theme-color(primary);
  }
}

.flybank-input-currency{
  height: 100%;

}

.flybank-input{
  flex: 1;
  text-align: right;

  .flybank-input-label + .flybank-input-form{
      margin-top: 3px;
      padding: 0;
      @include rfs(20);
      height: auto;
    }
    

}

.flybank-input-form{
  margin-top: 0;
  padding: 0;
  @include rfs(34);
  height: auto;
}




.flag-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  > div {
    margin-right: 7px;
    flex: 0 0 auto;
  }
}

.flag {
  width: 30px;
}



.step{
  color: gray("500");
  position: relative;
  padding: 18px 0 18px 40px;

  &:after{
    content : "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: gray("300");
    top: 0;
    left: 25px;
  }
}
.step-item{
  position: relative;
  padding: 13px 0;
  z-index: 1;
  &:after{
    content : "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: gray("500");
    position: absolute;
    left: -17px;
    top: 50%;
    margin-top: -3px;
  }

  &.is-active{
    padding-left: 5px;
    &:after{
      display: none;
    }
    &:before{
      z-index: 2;
      @extend .fas;
      @extend .fa-check-circle;
      color: color("blue");
      font-size: 18px;

      position: absolute;
      left: -23px;
      top: 50%;
      margin-top: -8px;
      background: white;
      border-radius: 50%;
    }
  }
}


.info-btn{
  position: absolute;
  top: 10px;
  right: 0;
  color: gray("500");

  .btn{
    padding: 0;
    font-size: 18px;
    color: gray("500");
  }

}

.hero-title{
  @include rfs(48);
}

.hero-subtitle{
  margin-top: 30px;
}

.hero-download{
  margin-top: 30px;
  .list-inline-item:not(:last-child) {
    margin-right: 0.2rem;
  }
}

.hero-download-item{
  opacity: 0.9;
  transition: all 0.1s ease-in;
  @include hover-focus-active(){
    opacity: 1;
  }
}

.hero-info{
  margin-top: 90px;
  @include rfs(20);
}

.font-up{
  font-size: 1.1em;
}

.card-flybank-submit{
  width: 100%;
  margin-top: 50px;
  .btn{
    padding-top: 15px;
    padding-bottom: 15px
  }
}

.card-flybank-body{
  padding: 30px;
  position: relative;

}

.card-flybank-content{



}

.card-flybank-overlay{
  padding: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(255,255,255,0.95);

  display: flex;
  flex-flow: column wrap;

  .card-flybank-content{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

.card-flybank{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flysection{
  padding: 80px 0;

  &.gray{
    background: #eee;
  }

  &.padding-sm{
    padding: 40px 0;
  }
}

.flysection-bg-dark{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.flysection-topspace{
  margin-top: 80px;
}

.flystep{

}

.flystep-item{

}

.flysection-title{
  @include rfs(48);
}

.flystep-item{
  padding: 60px 50px;
  background: white;
  border-radius: $border-radius;
  //max-width: 330px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.05);
}

.fly-label{
  display: inline-block;
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 20px;
  background: color("yellow");
}

.flystep-title{
  //@include rfs(28);
  margin-top: 25px;
}

.flybank-txt{
  margin-top: 20px;

}

.fly-label{
  margin-top: 50px;
}

.feature-item{
  padding: 40px;
  box-shadow: 0px 20px 30px 0px rgba(0,0,0,0.05);

  background: white;
  border-radius: $border-radius;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;
}

.feature-title{

}

.feature-desc{
  margin-top: 15px;
  min-height: 72px;
}

.icon-label{
  font-size: 1.2em;
  margin-right: 5px;
  vertical-align: -5%;
}

.card-flybank-title{
  @include rfs(34px)
}


.setting{
  margin-bottom: 0;
  .setting-item:not(:last-child){
    &:before{
      content: "";
      width: 100%;
      height: 1px;
      background: gray("200");
      bottom: 0;
      left: 0;
      position: absolute;
    }
  }
}

.setting-item{
  padding: 17px 30px 17px 15px;
  position: relative;
  &:after{
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    content: "";
    width: 15px;
    height: 15px;
    background: url("../images/arrow-right.svg");
    background-size: cover;
    opacity: 0.4;
  }
}

.flybank-table{
   th, td {
     vertical-align: middle;
     border-top: 1px solid gray("200");
   }

    tr:first-child{
      td{
        border-top: none;
      }
    }

  tr{
    td:first-child{
      padding-left: 0;
    }

    td:last-child{
      padding-right: 0;
    }
  }
}