@include media-breakpoint-down(md){
  body, html{
    font-size: 14px;
  }

  .font-small {
    font-size: 12px;
  }

  .navbar-brand{
    width: 200px;
  }
  .navbar-collapse{
  }

  .hero-container{
    padding-top: 15px;
  }
  .hero-subtitle{
    margin-top: 10px;
  }
  .hero-info{
    margin-top: 20px;
  }

  .card-flybank-body{
    padding: 15px;
  }

  .card-flybank-overlay {
    padding: 15px;
  }

  .btn-lg{
    font-size: 1rem;
  }

  .flybank-input-container{
    height: 50px;

    padding-right: 20px;
    .dropdown{

      .btn{
        font-size: 14px;
        padding: 7px;
        height: 100%;
        display: flex;
        align-items: center;
      }

    }


  }


  .flybank-input-form{
    margin-top: 0;

  }

  .step {

    padding: 18px 0 18px 25px;
    &:after{

      left: 10px;
    }
  }

  .info-btn{
    display: none;
  }

  .card-flybank-submit{
    margin-top: 15px;
  }


  .flysection {
    padding: 40px 0;
  }

  .flysection-topspace{
    margin-top: 40px;
  }

  .flystep-item {
    padding: 30px 20px;
  }

  .flystep-img{
    width: 180px;

    margin: 0 auto;
  }

  .fly-label {
    margin-top: 15px;
  }

  .feature-item {
    padding: 20px;
  }

  .footer-block{
    min-width: 150px;
  }

  footer{
    padding: 30px 0;
    background: #333333;
    color: rgba(255,255,255,0.6);
  }

}