footer{
  padding: 70px 0;
  background: #333333;
  color: rgba(255,255,255,0.6);
}

.footer-block{
  min-width: 250px;
}

.footer-link{
  color: rgba(255,255,255,0.6);
  @include hover-focus-active(){
    color: color("yellow")
  }
}

.footer-block-title{
  margin-bottom: 25px;
  color: white;
}