{% set title = 'Gulp Des Index' %} {% set page = 'index.html' %} {% extends
'layouts/application.html' %} {% import 'macros/helpers.html' as macro %} {%
block content %}

<section class="flysection gray">
    <div class="container">
        <h1 class="text-center">예약하기</h1>

        <div class="text-center">
            <div class="progess">
                <div class="progress-step is-active">
                    <div class="progress-num">1</div>
                    <div class="progress-label">예약접수</div>
                </div>

                <div class="progress-step is-active">
                    <div class="progress-num">2</div>
                    <div class="progress-label">입금대기</div>
                </div>

                <div class="progress-step">
                    <div class="progress-num">3</div>
                    <div class="progress-label">입금완료</div>
                </div>

                <div class="progress-step">
                    <div class="progress-num">4</div>
                    <div class="progress-label">수령완료</div>
                </div>
            </div>
        </div>

        <div class="card border-0 flybank-regis" style="">
            <div class="card-body">
                <h5>환전금액 정보</h5>




                <div class="flybank-input-container">
                    <div class="flybank-input-currency">
                        <div class="dropdown">

                            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/flag_vnd.png" class="flag-icon" alt=""> <span
                                    class="align-middle px-2">VND</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for item in range(0,2) %}
                                <a href="#" class="dropdown-item py-2">
                                    <div class="flag-container ">
                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_kor.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            KRW
                                        </div>

                                        <div class="text-secondary px-3">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_vnd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            VND
                                        </div>

                                    </div>
                                </a>

                                <a href="#" class="dropdown-item py-2">
                                    <div class="flag-container ">
                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_rub.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            RUB
                                        </div>

                                        <div class="text-secondary px-3">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_twd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            TWD
                                        </div>

                                    </div>
                                </a>

                                {% endfor %}


                            </div>
                        </div>
                    </div>

                    <div class="flybank-input ">

                        <input type="text"
                            class="flybank-input-form form-control form-control-lg border-0 bg-transparent text-right font-second font-weight-bold input-money"
                            placeholder="" value="5,000">
                    </div>
                </div>


                <div class="step">
                    <div class="step-item">
                        2019/01/08 21:17 기준
                    </div>
                    <div class="step-item is-active">
                        <div><span class="h5 mb-0 text-primary font-weight-bold">183,700원</span> 환전대금</div>
                    </div>
                    <div class="step-item">
                        <span class="text-primary">+11,022원</span> 수수료
                    </div>
                </div>


                <div class="flybank-input-container">
                    <div class="flybank-input-currency">
                        <div class="dropdown">

                            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="images/flag_kor.png" class="flag-icon" alt=""> <span
                                    class="align-middle px-2">KRW</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% for item in range(0,2) %}
                                <a href="#" class="dropdown-item py-2">
                                    <div class="flag-container ">
                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_kor.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            KRW
                                        </div>

                                        <div class="text-secondary px-3">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_vnd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            VND
                                        </div>

                                    </div>
                                </a>

                                <a href="#" class="dropdown-item py-2">
                                    <div class="flag-container ">
                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_rub.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            RUB
                                        </div>

                                        <div class="text-secondary px-3">
                                            <i class="fas fa-arrow-left"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_twd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            TWD
                                        </div>

                                    </div>
                                </a>

                                {% endfor %}


                            </div>
                        </div>
                    </div>

                    <div class="flybank-input">

                        <input type="text"
                            class="flybank-input-form form-control form-control-lg border-0 bg-transparent text-right font-second input-money font-weight-bold"
                            placeholder="" value="194,720">
                    </div>
                </div>


            </div>
        </div>




        <div class="card border-0 flybank-regis" style="">
            <div class="card-body">
                <h5>추가 구성품</h5>


                <select class="w-100 selectpicker">
                    <option data-content="<div class='row no-gutters'>
                                    <div class='col text-truncate'>EASYCARD(기본형)</div>
                                    <div class='col-auto text-gray'>+4,400 KRW</div>
                                </div>">EASYCARD(기본형)</option>

                    <option data-content="<div class='row no-gutters'>
                                        <div class='col text-truncate'>EASYCARD(기본형-400NTD충전)</div>
                                        <div class='col-auto text-gray'>+22,000 KRW</div>
                                    </div>">EASYCARD(기본형-400NTD충전)</option>

                    <option data-content="<div class='row no-gutters'>
                                            <div class='col text-truncate'>EASYCARD(기본형)</div>
                                            <div class='col-auto text-gray'>+4,400 KRW</div>
                                        </div>">EASYCARD(기본형)</option>

                    <option data-content="<div class='row no-gutters'>
                                                <div class='col text-truncate'>EASYCARD(LINE캐릭터-브라운)</div>
                                                <div class='col-auto text-gray'>+17,600 KRW</div>
                                            </div>">EASYCARD(LINE캐릭터-브라운)</option>

                    <option data-content="<div class='row no-gutters'>
                                <div class='col text-truncate'>EASYCARD(LINE캐릭터-브라운-400NTD충전)</div>
                                <div class='col-auto text-gray'>+35,200 KRW</div>
                            </div>">EASYCARD(LINE캐릭터-브라운-400NTD충전)</option>


                    <option data-content="<div class='row no-gutters'>
                                <div class='col text-truncate'>재환전 보장 PROGRAM(보증금)</div>
                                <div class='col-auto text-gray'>+0,000 KRW</div>
                            </div>">재환전 보장 PROGRAM(보증금)</option>

                </select>



                <div class="row align-items-center card-choose">
                    <div class="col">EASYCARD(기본형)</div>
                    <div class="col-auto">
                        <div class="card-choose-num">
                            <input type="number" class="form-control" value="1">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card-choose-val text-center">
                            4,400원
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="" class="text-secondary">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>

                <hr>

                <h5>수령 정보</h5>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" checked id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">공항/지점 수령</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">주소지 배송</label>
                </div>

                <select class="w-100 selectpicker">
                    <option data-content="<div class='row no-gutters'>
                                    <div class='col text-truncate'>EASYCARD(기본형)</div>
                                    <div class='col-auto text-gray'>+4,400 KRW</div>
                                </div>">EASYCARD(기본형)</option>

                    <option data-content="<div class='row no-gutters'>
                                        <div class='col text-truncate'>EASYCARD(기본형-400NTD충전)</div>
                                        <div class='col-auto text-gray'>+22,000 KRW</div>
                                    </div>">EASYCARD(기본형-400NTD충전)</option>

                    <option data-content="<div class='row no-gutters'>
                                            <div class='col text-truncate'>EASYCARD(기본형)</div>
                                            <div class='col-auto text-gray'>+4,400 KRW</div>
                                        </div>">EASYCARD(기본형)</option>

                    <option data-content="<div class='row no-gutters'>
                                                <div class='col text-truncate'>EASYCARD(LINE캐릭터-브라운)</div>
                                                <div class='col-auto text-gray'>+17,600 KRW</div>
                                            </div>">EASYCARD(LINE캐릭터-브라운)</option>

                    <option data-content="<div class='row no-gutters'>
                                <div class='col text-truncate'>EASYCARD(LINE캐릭터-브라운-400NTD충전)</div>
                                <div class='col-auto text-gray'>+35,200 KRW</div>
                            </div>">EASYCARD(LINE캐릭터-브라운-400NTD충전)</option>


                    <option data-content="<div class='row no-gutters'>
                                <div class='col text-truncate'>재환전 보장 PROGRAM(보증금)</div>
                                <div class='col-auto text-gray'>+0,000 KRW</div>
                            </div>">재환전 보장 PROGRAM(보증금)</option>

                </select>

            </div>
        </div>
    </div>
</section>
{% endblock %}