{% set title = 'Gulp Des Index' %}
{% set page = 'index.html' %}

{% extends 'layouts/application.html' %}

{% import 'macros/helpers.html' as macro %}


{% block content %}

<section class="hero-container">

    <div class="container hero">

        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 col-12 order-2 ">
                <div class="card border-0 card-flybank  animated fadeInUp wow" data-wow-delay="0s">

                    <div class="card-body card-flybank-body">

                        <div class="card-flybank-content">
                            <div class="row small-gutters mb-4">
                                <div class="col">
                                    <a href="" class="btn  btn-outline-flybank btn-lg btn-block">로그인하고 혜택받기</a>
                                </div>
                                <div class="col">
                                    <a href="" class="btn  btn-outline-flybank btn-lg btn-block">비회원 예약확인</a>
                                </div>
                            </div>


                            <div class="flybank-input-container">
                                <div class="flybank-input-currency">
                                    <div class="dropdown">

                                        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="images/flag_vnd.png" class="flag-icon" alt=""> <span
                                                class="align-middle px-2">VND</span>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            {% for item in range(0,2) %}
                                            <a href="#" class="dropdown-item py-2">
                                                <div class="flag-container ">
                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_kor.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        KRW
                                                    </div>

                                                    <div class="text-secondary px-3">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </div>

                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_vnd.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        VND
                                                    </div>

                                                </div>
                                            </a>

                                            <a href="#" class="dropdown-item py-2">
                                                <div class="flag-container ">
                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_rub.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        RUB
                                                    </div>

                                                    <div class="text-secondary px-3">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </div>

                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_twd.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        TWD
                                                    </div>

                                                </div>
                                            </a>

                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>

                                <div class="flybank-input">
                                    <div class="flybank-input-label font-small text-gray">최소 3,000 ~ 최대 60,000(1일)</div>

                                    <input type="text"
                                           class="flybank-input-form form-control form-control-lg border-0 bg-transparent text-right font-second"
                                           placeholder="환전(수령) 희망 금액" value="1,128,410">
                                </div>
                            </div>


                            <div class="step">
                                <div class="step-item">
                                    2019/01/08 21:17 기준
                                </div>
                                <div class="step-item is-active">

                                    <div class="info-btn">
                                        <button type="button" class="btn btn-link secondary" data-container="body"
                                                data-toggle="popover" data-placement="bottom" data-trigger="focus"
                                                data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
                                            <i class="fas fa-info-circle"></i>
                                        </button>
                                    </div>

                                    <div class="flag-container ">
                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_kor.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            KRW
                                        </div>

                                        <div class="text-primary px-2">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_vnd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            VND
                                        </div>

                                        <div class="text-primary px-2">
                                            <i class="fas fa-arrow-right"></i>
                                        </div>

                                        <div class="flag-item">
                                            <div class="flag">
                                                <img src="images/flag_twd.png" class="img-fluid" alt="">
                                            </div>
                                        </div>

                                        <div>
                                            TWD
                                        </div>
                                    </div>

                                </div>
                                <div class="step-item">
                                    수수료(2 USD) 2,250원
                                </div>
                            </div>


                            <div class="flybank-input-container">
                                <div class="flybank-input-currency">
                                    <div class="dropdown">

                                        <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="images/flag_kor.png" class="flag-icon" alt=""> <span
                                                class="align-middle px-2">KRW</span>
                                        </a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            {% for item in range(0,2) %}
                                            <a href="#" class="dropdown-item py-2">
                                                <div class="flag-container ">
                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_kor.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        KRW
                                                    </div>

                                                    <div class="text-secondary px-3">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </div>

                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_vnd.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        VND
                                                    </div>

                                                </div>
                                            </a>

                                            <a href="#" class="dropdown-item py-2">
                                                <div class="flag-container ">
                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_rub.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        RUB
                                                    </div>

                                                    <div class="text-secondary px-3">
                                                        <i class="fas fa-arrow-left"></i>
                                                    </div>

                                                    <div class="flag-item">
                                                        <div class="flag">
                                                            <img src="images/flag_twd.png" class="img-fluid" alt="">
                                                        </div>
                                                    </div>

                                                    <div>
                                                        TWD
                                                    </div>

                                                </div>
                                            </a>

                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>

                                <div class="flybank-input">
                                    <div class="flybank-input-label font-small text-gray">지불할 금액60,000(1일)</div>

                                    <input type="text"
                                           class="flybank-input-form form-control form-control-lg border-0 bg-transparent text-right font-second"
                                           placeholder="환전(수령) 희망 금액" value="0">
                                </div>
                            </div>

                            <div class="mt-4 text-center position-relative">
                                <div class="info-btn">
                                    <button type="button" class="btn btn-link " data-container="body"
                                            data-toggle="popover" data-placement="bottom" data-trigger="focus"
                                            data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                </div>

                                <div class="h5">
                                    바로 환전보다 최대 <strong class="text-primary font-up">15,300</strong>원 절약됩니다.
                                </div>

                                <div class="text-secondary">
                                    지금 예약하시면 <strong class="text-primary font-up">내일(12월 08일)</strong>부터 수령 가능합니다.
                                </div>
                            </div>

                        </div>

                        <div class="card-flybank-submit">
                            <a href="" class="btn btn-primary btn-block btn-lg">
                                다음
                            </a>
                        </div>



                        <div class="card-flybank-overlay">

                            <div class="card-flybank-content">

                                <h2 class="card-flybank-title mb-2">환전금액 비교하기</h2>
                                <div class="mb-4 text-gray">본 비교는 이해를 돕기 위한 정보로 실제와 차이가 있을 수 있습니다.</div>


                                <div class="bg-lightgray px-3 ">

                                    <table class="table flybank-table text-secondary text-right mb-0">

                                        <tbody>
                                        <tr class="">
                                            <td></td>
                                            <td>수수료</td>
                                            <td>지불할 금액</td>
                                        </tr>
                                        <tr class="text-primary">
                                            <td class="text-left">플라잉뱅크(2 USD)</td>
                                            <td>2,250원</td>
                                            <td>1,027,000원</td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">은행(약 9%)</td>
                                            <td>90,000원</td>
                                            <td>1,090,000원</td>
                                        </tr>

                                        <tr>
                                            <td class="text-left">공항(약 12%)</td>
                                            <td>120,000원</td>
                                            <td>1,120,000원</td>
                                        </tr>


                                        </tbody>
                                    </table>


                                </div>

                                <div class="mt-4 text-center position-relative">


                                    <div class="h5">
                                        바로 환전보다 최대 <strong class="text-primary font-up">15,300</strong>원 절약됩니다.
                                    </div>

                                    <div class="text-secondary">
                                        지금 예약하시면 <strong class="text-primary font-up">내일(12월 08일)</strong>부터 수령 가능합니다.
                                    </div>
                                </div>


                            </div>


                            <div class="card-flybank-submit mt-0">
                                <a href="#" class="btn btn-outline-primary btn-block btn-lg">
                                    확인
                                </a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-2 col-12 order-1 mb-4 mb-lg-0  pl-lg-4  animated fadeInUp wow" data-wow-delay="0.5s">
                <h1 class="hero-title mb-0">
                    국내유일 이중환전 방식 <br>
                    모바일 환전앱 <br>
                    FLYING <strong>BANK</strong>
                </h1>

                <h5 class="hero-subtitle">
                    여행 후 남은 돈 재환전까지 보장받으세요!
                </h5>

                <ul class="list-inline hero-download mb-0">
                    <li class="list-inline-item">
                        <a href="" class="hero-download-item">
                            <img src="images/download/googleplay.png" width="139" alt="">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="hero-download-item">
                            <img src="images/download/appstore.png" width="139" alt="">
                        </a>
                    </li>
                </ul>

                <div class=" hero-info">
                    지금까지 <strong class="text-primary font-up">10,088</strong>명의 고객들께서 <br>
                    <strong class="text-primary font-up">1,584,489,124 USD</strong> 규모의 환전 신청을 <br>
                    진행해 주셨습니다.
                </div>
            </div>
        </div>

    </div>

</section>


<section class="flysection gray">

    <div class="container">

        <h2 class="flysection-title text-center  animated fadeInUp wow" data-wow-delay="0">
            간편 환전 따라하기
        </h2>


        <div class="flystep row flysection-topspace">
            <div class=" col-md-4 d-flex ">
                <div class="flystep-item  animated fadeInUp wow" data-wow-delay="0">
                    <div class="flystep-img">
                        <img src="images/step/step1.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <div class="text-center">

                        <div class="fly-label">
                            Step 1
                        </div>

                        <h3 class="flystep-title ">
                            환전 신청
                        </h3>

                        <h5 class="flybank-txt  mb-0">
                            금액과 장소, 시간을 <br>
                            선택하고 환전을 신청합니다.
                        </h5>

                    </div>
                </div>
            </div>

            <div class=" col-md-4 d-flex ">
                <div class="flystep-item  animated fadeInUp wow" data-wow-delay="0.3s">
                    <div class="flystep-img">
                        <img src="images/step/step2.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <div class="text-center">

                        <div class="fly-label">
                            Step 2
                        </div>

                        <h3 class="flystep-title ">
                            대금 결제
                        </h3>

                        <h5 class="flybank-txt  mb-0">
                            지정된 계좌에 <br>
                            환전대금을 입금합니다.
                        </h5>

                    </div>
                </div>
            </div>

            <div class=" col-md-4 d-flex ">
                <div class="flystep-item  animated fadeInUp wow" data-wow-delay="0.6s">
                    <div class="flystep-img">
                        <img src="images/step/step3.png" class="img-fluid d-block mx-auto" alt="">
                    </div>

                    <div class="text-center">

                        <div class="fly-label">
                            Step 3
                        </div>

                        <h3 class="flystep-title ">
                            외화 수령
                        </h3>

                        <h5 class="flybank-txt  mb-0">
                            안전하게 본인 확인 후 <br>
                            외화를 수령합니다.
                        </h5>

                    </div>
                </div>
            </div>
        </div>


    </div>

</section>


<section class="flysection ">

    <div class="container">

        <h2 class="flysection-title text-center  animated fadeInUp wow" data-wow-delay="0">
            환전 예약 및 수령 시 유의하세요!
        </h2>

        <h3 class="text-center mt-3  animated fadeInUp wow" data-wow-delay="0">
            <span class="font-up">FLYING <b>BANK</b></span>는 외화관리규정을 준수합니다.
        </h3>


        <div class=" row flysection-topspace">
            <div class="col-sm-6 col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="0">

                    <div class="feature-title">
                        <h3>
                            <span class="text-primary">은행이 끝나도</span> <br>
                            언제든지 신청할 수 <br>
                            있습니다.
                        </h3>
                    </div>

                    <div class="feature-desc">

                        매일 은행 정기점검 시간(23:00~00:30) <br>
                        및 추가 점검 시간에는 입금이 제한될 수 <br>
                        있습니다.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="0.3s">

                    <div class="feature-title">
                        <h3>
                            <span class="text-primary">1일 환전 금액</span>에 <br>
                            <span class="text-primary">제한</span>이 있습니다.
                        </h3>
                    </div>

                    <div class="feature-desc">

                        최소 USD 100 이상 <br>
                        최대 USD 2,000 이하의 금액만 <br>
                        가능합니다.
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="0.6s">

                    <div class="feature-title">
                        <h3>
                            <span class="text-primary">공항터미널을</span> <br>
                            <span class="text-primary">꼭 확인</span>하세요.
                        </h3>
                    </div>

                    <div class="feature-desc">
                        1터미널, 2터미널 등 본인이 이용하는 <br>
                        터미널을 정확히 확인해주세요.

                    </div>
                </div>
            </div>


            <div class="col-sm-6  col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="0.9s">

                    <div class="feature-title">
                        <h3>


                            <span class="text-primary"> 신청인 본인만</span> <br>
                            수령할 수 있습니다.
                        </h3>
                    </div>

                    <div class="feature-desc">
                        외화 수령 시 본인 여권을 꼭 <br>
                        지참해주세요. <br>
                        본인 외 수령은 불가능합니다.
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="1.2s">

                    <div class="feature-title">
                        <h3>
                            취소 시 <br>
                            <span class="text-primary">취소수수료</span>가 <br>
                            부과될 수 있습니다.

                        </h3>
                    </div>

                    <div class="feature-desc">
                        고객님의 귀책사유로 취소 및 환불 요청 <br>
                        시 소정의 취소수수료가 부과될 수<br>
                        있습니다.
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4 d-flex ">
                <div class="feature-item animated fadeInUp wow" data-wow-delay="1.5s">

                    <div class="feature-title">
                        <h3>
                            특이사항은 <br>
                            <span class="text-primary">예약 후 고객센터</span>로 <br>
                            연락주세요.

                        </h3>
                    </div>

                    <div class="feature-desc">
                        전화상담은 평일 (09:00~20:00)이고, <br>
                        메신저상담은 연중무휴(24시간) <br>
                        운영됩니다.
                    </div>
                </div>
            </div>
        </div>


        <ul class="list-unstyled mb-0 pt-3">
            <li class="mb-3">
                <i class="fas fa-exclamation-circle text-danger icon-label"></i>
                부정한 방법으로 환전 예약 시 해당 거래는 취소될 수 있습니다.
            </li>

            <li>
                <i class="fas fa-exclamation-circle text-danger icon-label"></i>
                입금액 및 입금자 성명 불일치시 입금 확인 및 환전 거래가 지연될 수 있습니다.
            </li>
        </ul>
    </div>

</section>


<section class="flysection flysection-bg-dark " style="background-image: url('images/sponser-bg.jpg')">
    <div class="container">

        <h2 class="flysection-title text-center animated fadeInUp wow" data-wow-delay="0">
            안심하고 환전하세요
        </h2>

        <h3 class="text-center mt-3 animated fadeInUp wow" data-wow-delay="0.3s"

            정식 환전영업자로 등록되어있는 <span class="font-up">FLYING <b>BANK</b></span>는 <br>
        이행보증보험을 가입하여 안심하고 환전할 수 있습니다.
        </h3>


        <div class=" row flysection-topspace">
            <div class="col-md-4">
                <div class="animated fadeInUp wow mb-4 mb-lg-0" data-wow-delay="0">
                    <img src="images/sponser-1.png" class="d-block mx-auto img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="animated fadeInUp wow mb-4 mb-lg-0" data-wow-delay="0.3s">
                    <img src="images/sponser-1.png" class="d-block mx-auto img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="animated fadeInUp wow mb-4 mb-lg-0" data-wow-delay="0.6s">
                    <img src="images/sponser-1.png" class="d-block mx-auto img-fluid" alt="">
                </div>
            </div>
        </div>

    </div>

</section>

<section class="flysection gray padding-sm">
    <div class="container ">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0 text-nowrap"> <span class="font-up">FLYING <b>BANK</b></span>로 착하게 환전하자!</h3>
            </div>
            <div class="col-auto">
                <ul class="list-inline hero-download mt-2 mb-2">
                    <li class="list-inline-item">
                        <a href="" class="hero-download-item">
                            <img src="images/download/googleplay.png" width="139" alt="">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="hero-download-item">
                            <img src="images/download/appstore.png" width="139" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>




{% endblock %}