.btn-outline-flybank{
  font-weight: bold;
  padding: 14px 10px;

  @include button-outline-variant(gray("400"), white, color("blue"), color("blue"));
  color: gray("700");
  @include hover-focus-active(){
    color: white;
  }
}