$white:    #fff ;
$gray-100: #F5F5F5 ;
$gray-200: #EEEEEE ;
$gray-300: #E0E0E0 ;
$gray-400: #BDBDBD ;
$gray-500: #9E9E9E ;
$gray-600: #757575 ;
$gray-700: #616161 ;
$gray-800: #424242 ;
$gray-900: #212121 ;
$black:    #000 ;


$blue:    #0e71ff ;
$indigo:  #3F51B5 ;
$purple:  #9C27B0 ;
$pink:    #E91E63 ;
$red:     #ff0e47 ;
$orange:  #FF9800 ;
$yellow:  #f1d33e ;
$green:   #4CAF50 ;
$teal:    #009688 ;
$cyan:    #00BCD4 ;

$body-bg : #fafafa;

$enable-responsive-font-sizes: true;



$font-family-sans-serif:      'Noto Sans KR', sans-serif;


$grid-gutter-width:           20px;

$card-spacer-y:                     1rem ;
$card-spacer-x:                     1.5rem ;



$input-color:                           $gray-900 ;
$input-border-color:                    $gray-500 ;
$input-box-shadow:                      none;

$input-btn-focus-box-shadow: none;

$btn-focus-box-shadow:        none ;
$btn-active-box-shadow:       none ;
$input-btn-focus-width : 0;

$headings-line-height:        1.3;

$border-color:                $gray-400;
