<footer>
    <div class="container">
        <div class="row">
            <div class="col-auto">

                <div class="footer-block">
                    <h4 class="footer-block-title"> 서비스</h4>

                    <ul class="list-unstyled">

                        <li class="mb-2">
                            <a href="" class="footer-link">공지사항</a>
                        </li>

                        <li class="mb-2">
                            <a href="" class="footer-link">이용약관</a>
                        </li>


                        <li class="mb-2">
                            <a href="" class="footer-link">개인정보처리방침</a>
                        </li>

                        <li class="mb-2">
                            <a href="" class="footer-link">취소 및 환불정책</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-block">
                    <h4 class="footer-block-title"> 회사</h4>

                    <ul class="list-unstyled">

                        <li class="mb-2">
                            <a href="" class="footer-link">채용정보</a>
                        </li>

                        <li class="mb-2">
                            <a href="" class="footer-link">제휴문의
                            </a>
                        </li>


                        <li class="mb-2">
                            <a href="" class="footer-link">미디어</a>
                        </li>


                    </ul>
                </div>
            </div>


            <div class="col-auto">
                <div class="footer-block">
                    <h4 class="footer-block-title"> 고객센터</h4>

                    <ul class="list-unstyled">

                        <li class="mb-2">
                            전화 : <a href="" class="footer-link">02-2279-0979(평일 오전 9시- 오후 6시)</a>
                        </li>

                        <li class="mb-2">
                            카카오톡 : <a href="" class="footer-link">@flyingcash</a>
                        </li>


                        <li class="mb-2">
                            이메일 : <a href="" class="footer-link">contact@flyingbank.net</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>


        <div class="mb-2 mt-4 pt-4">
            하재 주식회사  l  대표 : 하재훈  l  사업자등록번호 : 639-87-00435  l  통신판매업등록번호 : 2018-서울중구-1927
        </div>

        <div  class="mb-2">
            서울특별시 중구 퇴계로49길 14, 충무로엘크루메트로시티2차 1311호(우:04559)  l  TEL. 02-2279-0979  l  FAX. 02-2279-0980  l  E-mail. <a
                href="" class="footer-link">contact@flyingbank.net</a>
        </div>

        <div>
            Copyright 2018. HAJAE Inc. All rights reserved.
        </div>
    </div>
</footer>