<!--
<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="#">Des admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% for file, item in navigation  %}


                <li  {% if isActiveMenuItem(file, item, filename) or item.sub %} class="nav-item {{ 'active' if isActiveMenuItem(file, item, filename) }}{{ ' dropdown' if item.sub }}" {% endif %} >
                    <a class="nav-link {{ ' dropdown-toggle' if item.sub }}"
                       {% if item.sub %} id="dropdown{{loop.index}}"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  {% endif %}
                       href="{{file | safe}}">{{ item.name | safe }}</a>


                    {% if item.sub %}

                    <div class="dropdown-menu" aria-labelledby="dropdown{{loop.index}}">

                        {% for file, item in item.sub  %}
                            <a class="dropdown-item {{ 'active' if isActiveMenuItem(file, item, filename) }}" href="{{file | safe}}">{{ item.name | safe }}</a>
                        {% endfor %}


                    </div>



                    {% endif %}

                </li>



                {% endfor %}

            </ul>

        </div>
    </div>
</nav>

-->

<div class="flybank-navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
    <a class="navbar-brand" href="#">

        <img src="images/logo.png" class="img-fluid" alt="">

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">회원가입 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
            </li>
            <li class="nav-item dropdown dropdown-flag">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="images/flag_kor.png" class="dropdown-flag-icon" width="30" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">
                        <img src="images/flag_vnd.png" class="dropdown-flag-icon mr-2" width="30 " alt=""> Vietnam
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="images/flag_sgd.png" class="dropdown-flag-icon mr-2" width="30" alt=""> Singapore
                    </a>


                    <a class="dropdown-item" href="#">
                        <img src="images/flag_jpy.png" class="dropdown-flag-icon mr-2" width="30" alt=""> Japan
                    </a>

                </div>
            </li>
        </ul>

    </div>
</nav>

</div>